name: biblioteca
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  #dependencias de sqlite
  sqflite: ^2.0.0+3
  path: ^1.8.3
  #dependencias de firebase
  firebase_core: ^4.3.0
  cloud_firestore: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
